body {
    background-color: rgb(46, 32, 109);
}

.slides {
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
}

.slidecontainer {
    scroll-behavior: smooth;
    overflow: auto;
    scroll-snap-type: y mandatory;
    width: 100%;
    height: 100vh;
}