body {
    background: url(https://occ-0-8407-92.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABfn8MLPrWZ8H5MtN6UaZKQ7yDjcznOiqTgDKPUN7D7DTe-78R0rhGK5AYh2AZ9moQv5CisgNVMEeU8qgdv3DbpdRE9mHgYa_C4Y5.jpg?r=b62);
    background-size: cover;
}