.container2 {
    background-color: rgb(46, 32, 109);
}

.slides {
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
}

.slidecontainer {
    scroll-behavior: smooth;
    overflow: auto;
    scroll-snap-type: y mandatory;
    width: 100%;
    height: 100vh;
}

.TeamD {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 5em;
    color: white;
    mix-blend-mode: difference;
}

.container1 {
    background-image: linear-gradient(45deg, black,  white);
    animation: colorchange 13s ease infinite;
    background-size: 1000% 1000%;
}

@keyframes colorchange {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}